.countries {
  max-height: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  margin: auto;
}
.countries .toggleButton {
  -webkit-animation: none;
  animation: none;
  opacity: 1;
}
.white-content .countries {
  background-color: rgba(149, 147, 147, 0.229);
  color: black;
}
.oneCountry {
  padding-bottom: 2rem;
  max-width: 1700px;
  margin: auto;
}
.oneCountry button {
  background-color: transparent;
  border: solid 4px rgba(37, 37, 37, 0.785);
  border-radius: 1rem;
  color: white;
  padding: 0.7rem 0.7rem;
  font-size: 1.5rem;
}
.country-bold {
  font-weight: bold;
  margin-right: 1rem;
}
.country_details {
  display: flex;
  justify-content: stretch;
  margin-top: 3rem;
  color: white;
}
.country_details-img {
  width: 50%;
  object-fit: cover;
}
.country_details-img img {
  width: 90%;
}
.country_details-txt {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 0 2rem;
}
.country_details-both {
  display: flex;
  justify-content: space-between;
}
.country_details-txt h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.country_details-txt p {
  font-size: 1.1rem;
}
.white-content .country_details {
  color: black;
}
.white-content .oneCountry button {
  color: black;
  border: solid 4px rgba(149, 147, 147, 0.625);
}
.border {
  border-top: solid 4px rgba(37, 37, 37, 0.785);
  border-bottom: solid 4px rgba(37, 37, 37, 0.785);
  padding: 1rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.white-content .border {
  border-top: solid 4px rgba(149, 147, 147, 0.625);
  border-bottom: solid 4px rgba(149, 147, 147, 0.625);
}
.border_link {
  display: flex;
  flex-wrap: wrap;
}
.border_link p {
  margin: 0.4rem;
}
.border_link p a {
  text-decoration: none;
  color: white;
}
.border_btn {
  border: solid 3px rgba(67, 67, 67, 0.779);
  border-radius: 1rem;
}
.white-content .border_btn {
  border: solid 3px rgba(149, 147, 147, 0.625);
}
.white-content .border_link p a {
  color: black;
}
@media (max-width: 1000px) {
  .country_details {
    flex-direction: column;

    margin: 3rem auto;
  }
  .country_details-img {
    width: 90%;
    margin: auto;
  }
  .country_details-img img {
    width: 100%;
  }
  .country_details-txt {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
  .country_details-both {
    width: 80%;
    flex-direction: column;
    margin: auto;
  }
  .country_details-txt h2 {
    font-size: 4rem;
    margin: 0 auto;
  }
  .country_details-txt p {
    width: 80%;
    font-size: 1.5rem;
    margin: 0.5rem auto;
  }
  .border {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 620px) {
  .country_details-img {
    width: 90%;
    margin: auto;
  }
  .country_details-img img {
    width: 100%;
  }

  .country_details-txt h2 {
    font-size: 3rem;
  }
  .country_details-txt p {
    width: 90%;
    font-size: 1.4rem;
  }
}
@media (max-width: 435px) {
  .country_details-img {
    width: 90%;
    margin: auto;
  }
  .country_details-img img {
    width: 100%;
  }

  .country_details-txt h2 {
    font-size: 2rem;
  }
  .country_details-txt p {
    width: 100%;
    font-size: 1.3rem;
  }
  .border {
    width: 100%;
    flex-direction: column;
  }
  .border_link {
    width: 50%;
  }
}
